<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

         <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <p> <a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001499652"> | CVLAC</a> | <a href="https://scholar.google.com/citations?user=FoJeWqYAAAAJ&hl=en">Google Scholar</a> | <a href="https://orcid.org/0000-0001-7330-0643">ORCID</a>  </p>
        

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}


              <!-- INICIO DE LA NUEVA SECCIÓN PARA LA ÚLTIMA PUBLICACIÓN -->
        <div style="text-align: center; margin-bottom: 15px;">
          <h3> 💡¡Última publicación!</h3>
          <!--
            Se ha actualizado este enlace y la imagen con la información de tu última publicación.
          -->
          <a href="https://revistas.udea.edu.co/index.php/lyl/article/view/361191" target="_blank" rel="noopener noreferrer">
            <img 
              src="https://revistas.udea.edu.co/public/journals/19/cover_issue_4560_es_ES.jpg" 
              alt="Miniatura de la última publicación" 
              style="border-radius: 8px; max-width: 50%; height: auto; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"
            />
          </a>
        </div>
        <!-- FIN DE LA NUEVA SECCIÓN -->
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
